* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1E2D3B;
  height: 100vh;
}

header {
  background: #2E3A46;
  height: 60px;
  width: 100%;
}

.filter {
  padding-left: 50px;
  padding-top: 20px;
  color: #FFF;
}

.filter label {
  margin-right: 10px;
}

header img {
  height: 50px;
  margin: 5px;
  width: 50px;
}

img {
  height: 150px;
  width: 150px;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  padding-top: 0;
}

.cd {
  align-items: center;
  background: #2E3A46;
  display: flex;
  flex-basis: 50px;
  flex-direction: column;
  height: 320px;
  margin: 20px;
  padding: 15px;
  text-align: center;
}

h3 {
  color: white;
  padding: 20px 0;
  text-transform: uppercase;
}

span {
  color: grey;
}
